

.about-container {
  border: solid black;
  display: flex;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 50px;
  width: 90%;
  padding: 40px 80px;
  flex: 1;
  
}

.about-text {
  border: solid black;
  margin: auto;
  padding: 15px;
  width: 850px;
  font-size: 1rem;
  line-height: 1.6;
  text-align:start;

}

.about-text h2 {

width: 160px;
margin-bottom: 2px;
  
}



