.productlist-container {
  border: solid black;
  margin: auto;
  display: grid;
  grid-template-columns: 300px 300px 300px ;
  gap: 100px;
  align-items: center;
  justify-content: center;
  width: 90%; 
  margin-bottom: 100px;
  padding: 20px;
  
}


.product-card {
  border: solid black;
  border-radius: 2%;
  padding: 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  
  
}

.product-image {
  border-radius: 2%;
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: url('../../assets/PXL_20240524_133656753.PORTRAIT.ORIGINAL.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

@media (max-width: 1200px)  {
  .productlist-container {
    grid-template-columns: 300px;
    
    
}
}

