.desc-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid #232323 10px;
  height: fit-content;
  width: 100%;
}

.desc-site {
  /* border: solid white; */
  color: white;
  font-size: larger;
}

.desc-ftr-ctr {
  
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid white; */
  width: 1500px;
  height: 450px;
  color: white;
}



.desc-txt {
  font-size: large;
  font-weight: 500;
}

@media (max-width: 1600px) {

  .desc-ctr {
    height: fit-content;
    /* border: solid blue; */
  }

  .desc-site {
    /* border: solid white; */
    width: 95%;
    margin-bottom: 50px;
  }

  .desc-ftr-ctr {
    /* border: solid brown; */
    display: flex;
    width: 80%;
    height: fit-content;
    color: white;
    padding: 4px;
    margin-bottom: 50px;
  }

}

@media (max-width: 1200px) {



  .desc-ctr {
    /* border: solid white; */
    height: fit-content;
    padding: 50px 0px;
  }

  .desc-site {
    /* border: solid white; */
    width: 95%;
    margin-bottom: 50px;
  }

  .desc-ftr-ctr {
    /* border: solid white; */
    display: flex;
    width: 95%;
    height: 330px;
    color: white;
    padding: 4px;
  }

}

@media (max-width: 768px) {

  .desc-ctr {
    height: fit-content;
    padding: 10px 0px;
    /* border: solid grey; */
  }

  .desc-site {
    /* border: solid white; */
    width: 95%;
    margin-bottom: 10px;
  }

  .desc-ftr-ctr {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    color: white;
    padding: 4px;
  }

}

@media (max-width: 480px) {


  .desc-ctr {
    height: fit-content;
    width: 100%;
    /* border: solid blue; */
    padding: 10px 0px;
  }

  .desc-site {
    /* border: solid white; */
    padding: 5px;
    margin-bottom: 10px;
    width: 90%;
  }

  .desc-ftr-ctr {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    color: white;
    padding: 0px;
    /* border: solid green; */
  }

}

