.desc-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid #232323 10px;
  margin: auto;
  height: 600px;
  width: 100%;
}

.desc-site {
  /* border: solid white; */
  color: white;
  font-size: larger;
  margin-top: 20px;
}

.desc-ftr-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid white; */
  width: 1500px;
  height: 450px;
  color: white;
}

.desc-ftr {
  border: solid #232323 5px;
  border-radius: 4px;
  height: 200px;
  width: 300px;
  padding: 5px;
  margin: 5px;
}

.desc-txt {
  font-size: large;
  font-weight: 500;
}

@media (max-width: 1600px) {

  .desc-ctr {
    height: 1000px;
  }

  .desc-site {
    /* border: solid white; */
    width: 95%;
  }

  .desc-ftr-ctr {
    display: flex;
    width: 80%;
    height: 300px;
    color: white;
    padding: 4px;
  }

  .desc-ftr {
    border-radius: 4px;
    height: 90%;
    width: 40%;
    padding: 5px;
    margin: 5px;
  }


}

@media (max-width: 1200px) {



  .desc-ctr {
    /* border: solid white; */
    height: 800px;
  }

  .desc-site {
    /* border: solid white; */
    width: 95%;
  }

  .desc-ftr-ctr {
    /* border: solid white; */
    display: flex;
    width: 95%;
    height: 330px;
    color: white;
    padding: 4px;
  }

  .desc-ftr {
    border-radius: 4px;
    height: 90%;
    width: 35%;
    padding: 5px;
    margin: 5px;
  }



}

@media (max-width: 768px) {

  .desc-ctr {
    height: 1400px;
  }

  .desc-site {
    /* border: solid white; */
    width: 95%;
  }

  .desc-ftr-ctr {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    color: white;
    padding: 4px;
  }

  .desc-ftr {
    border: solid #232323 5px;
    border-radius: 4px;
    height: 200px;
    width: 300px;
    padding: 5px;
    margin: 5px;
  }
}

@media (max-width: 480px) {


  .desc-ctr {
    height: 2000px;
  }

  .desc-ftr-ctr {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    color: white;
    padding: 4px;
  }

  .desc-ftr {
    border: solid #232323 5px;
    border-radius: 4px;
    height: 200px;
    width: 300px;
    padding: 5px;
    margin: 5px;
  }


 
  


}

