.navbar {
  border: solid black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 170px;
  
 /* primary colour: #876ca8 
 secondary colour:#cdcfae
 primary colour: #8ab786
 */
}

.navbar-contents {
  border: solid black;
  display: flex;
  width: 90%;
  align-items: center;
  padding: 1rem;
}

.title-container {
  border: solid black;
  width: 360px;
  margin: 10px;
}

ul {
  display: flex;
  border: solid black;
  list-style-type: none;
  margin-left: auto;
}

li {
  margin: 10px 60px;
}


