.navbar {
  border: solid white;
  display: flex;
  top: 0;
  height: 160px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.navbar-container {
  border: solid white;
  margin: auto;
  display: flex;
  width: 90%;
  height: 100px;
  align-items: center;
  padding: 1rem;
  color: white;
}

.navbar-logo-container {
  border: solid white;
  display: flex;
  justify-content: center;
  width: 310px;
  height: 100%;
  margin-right: auto;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.navbar-logo{
  color: white;
  
}

.navbar-logo:hover{
  color: white;
}

.navbar-links {
  border: solid white;
  display: flex;
  list-style-type: none;
  color: white;
}



.list-item {
  margin: 10px 40px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 8px;
  transition: color 0.3s;
}

@media (max-width: 768px) {
  

  .navbar-logo-container {
    margin: auto;
    
  }


  .navbar-links {
      flex-direction: column;
      align-items: center;
      width: 100%;
      display: none; /* Hide the links initially */
  }
}